.box {
    @apply mb-16 mt-pageBox h-pageBox rounded-pageBox shadow-boxShadow md:bg-boxColor;
    width: 515px;
}

@media only screen and (min-width: 1255px) {
    .box {
        margin-left: 28.79%;
    }
    .rightArrow {
        margin-left: 476.71px;
    }
    .imgSeparatorRight {
        margin-left: 445.25px;
    }
}

@media only screen and (max-width: 1255px) {
    .box {
        margin-left: 24%;
    }
    .rightArrow {
        margin-left: 476.71px;
    }
    .imgSeparatorRight {
        margin-left: 445.25px;
    }
}

@media only screen and (max-width: 1000px) {
    .box {
        margin-left: 15.51%;
    }
    .rightArrow {
        margin-left: 476.71px;
    }
    .imgSeparatorRight {
        margin-left: 445.25px;
    }
}

@media only screen and (max-width: 758px) {
    .box {
        margin-left: 9%;
    }
    .rightArrow {
        margin-left: 476.71px;
    }
    .imgSeparatorRight {
        margin-left: 445.25px;
    }
}

@media only screen and (max-width: 668px) {
    .box {
        margin-left: 4%;
    }
    .rightArrow {
        margin-left: 476.71px;
    }
    .imgSeparatorRight {
        position: absolute;
        margin-top: 8px;
        margin-left: 445.25px;
        height: 24px;
        width: 1px;
    }
    .imgSeparatorLeft {
        position: absolute;
        margin-top: 8px;
        margin-left: 52.5px;
        height: 24px;
        width: 1px;
    }
}

@media only screen and (max-width: 615px) {
    .box {
        margin-left: 0%;
        width: 100%;
        height: 40px;
        background-color: #F9FAFD;;
    }
    .rightArrowMobile {
        position: absolute;
        width: 20px;
        height: 1px;
        margin-left: 92.65%;
        cursor: pointer;
        margin-top: 13px;
    }
    .leftArrowMobile {
        position: absolute;
        margin-left: 18px;
        width: 20px;
        height: 1px;
        cursor: pointer;
        margin-top: 13px;
    }
    .imgSeparatorRight {
        margin-left: 86.49%;
    }
    .rightArrow {
        position: absolute;
        width: 0;
    }
    .leftArrow {
        position: absolute;
        width: 0;
    }
}

@media only screen and (min-width: 615.5px) {
    .leftArrow {
        @apply cursor-pointer bg-transparent
        absolute w-arrow h-locationIcon mt-2
        ml-arrowLeftL mr-arrowLeftR;
        margin-left: 23px;
    }
    .leftArrowMobile {
        width: 0;
        position: absolute;
    }   
    .rightArrowMobile {
        position: absolute;
        width: 0;
    }
    .rightArrow {
        @apply cursor-pointer bg-transparent
        absolute w-arrow h-locationIcon mt-2
        mr-arrowRightR;
    }
    .imgSeparatorLeft {
        @apply absolute bg-transparent
        ml-separatorL mt-separatorT;
        margin-left: 68.25px;
        height: 31.2px;
        width: 1.3px;
    }
    
    .imgSeparatorRight {
        @apply absolute bg-transparent
        mt-separatorT;
        height: 31.2px;
        width: 1.3px;
    }
}

.arrow {
    @apply absolute bg-transparent
}