.applyNow {
    position: absolute;
    background-color: #384564;
    border-radius: 8px;
    width: 127px;
    height: 52px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    font-style: normal;
    margin-top: 139px;
    margin-left: 18.07%;
    @apply font-sans;
}

.applyNow:active {
    transform: scale(.98);
}

.line {
    position: absolute;
    width: 37.66%;
    height: 1px;
    color: #3A4562;
    margin-top: 99px;
    margin-left: 18.07%;
}

.title {
    font-weight: 700;
    position: absolute;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.413333px;
    color: #3A4562;
    margin-top: 56px;
    margin-left: 18.125%;
    @apply font-sans;
}

.saveIcon {
    position: absolute;
    width: 16px;
    height: 20px;
    margin-top: 65.33px;
    margin-left: 42.84%;
}

.saveTitle {
    position: absolute;
    margin-top: 64px;
    margin-left: 44.51%;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #3A4562;
    font-stretch: 100;
}

.shareIcon {
    position: absolute;
    width: 18px;
    height: 20px;
    margin-top: 66px;
    margin-left: 51.8%;
}

.shareTitle {
    position: absolute;
    margin-top: 64px;
    margin-left: 53.52%;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    font-family: Roboto, sans-serif;;
    font-weight: 400;
    color: #3A4562;
    font-stretch: 100;
}
