.paginationItem {
    @apply inline-block
    font-sans not-italic
    bg-transparent font-bold text-grey07 
    text-pagination tracking-pagination
    leading-title focus:text-pageNumber
    focus:border-pageNumber;
    align-items: center;
    border-bottom: 2.5px solid transparent;
    width: 30px;
    font-family: 'Proxima Nova' sans-serif;
    font-style: normal;
}

@media only screen and (max-width: 615px) {
    .paginationItem {
        margin-top: 6px;
        height: 33.95px;
    }
}

@media only screen and (min-width: 615.5px) {
    .paginationItem {
        margin-top: 9px;
        height: 43.5px;
    }
}
